# Dependencies
node_modules/
.pnp
.pnp.js

# Backend


# Frontend build


# Environment files


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache
.eslintcache
.cache/